@import 'tailwindcss';

:root {
  --background: #f0f0f0;
  --primary: #0b0707;
  --accent: #ddff00;
  --lite-grey: rgb(240, 240, 240);
  --grey: #d9d9d9;
  --dark-grey: #5e5e5e;
  --surface: rgb(45, 45, 45);
  --surface-dark: #202020;
  --secondary: rgb(119, 113, 101);
  --secondary-lite: rgb(203, 200, 194);
}

@theme {
  --color-primary: var(--primary);
  --color-bgColor: var(--background);
  --color-accent: var(--accent);
  --color-lite-grey: var(--lite-grey);
  --color-grey: var(--grey);
  --color-dark-grey: var(--dark-grey);
  --color-surface: var(--surface);
  --color-surface-dark: var(--surface-dark);
  --color-secondary: var(--secondary);
  --color-secondary-lite: var(--secondary-lite);
  --radius-base: 10px;
}

body {
  background: var(--background);
  color: var(--primary);
}

/* примусове скидання стилів */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;

    @media screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }

  main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  input {
    cursor: text;
  }

  a {
    transition-duration: 250ms;
    transition-timing-function: ease;
    outline: none;

    color: inherit;
    text-decoration: none;
  }

  button {
    transition-duration: 250ms;
    transition-timing-function: ease;

    cursor: pointer;
    box-sizing: border-box;
    margin: 0;

    outline: 0;
    border: 0;

    background-color: transparent;
    padding: 0;
  }

  img {
    display: block;
  }

  ul,
  li,
  ol {
    list-style: none;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;

    @media screen and (min-width: 390px) {
      padding: 0 20px;
    }

    /* @media screen and (min-width: 768px) {
      padding: 0 32px;
    } */

    @media screen and (min-width: 1280px) {
      padding: 0 100px;
      /* width: 1064px; */
      max-width: 1440px;
    }
  }

  .swiper-pagination-bullet {
    /* width: 6px !important;
    height: 6px !important;
    background: var(--color-accent) !important;
    opacity: 0.3;
    cursor: pointer; */
  }

  .swiper-pagination-bullet-active {
    /* background: var(--color-accent) !important;
    width: 6px !important;
    height: 6px !important; */
  }

  .custom-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .custom-bullet {
    cursor: pointer;
    margin: 4px;
    border-radius: 50%;
    background-color: gray;
    width: 12px;
    height: 12px;
  }

  .swiper-controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .swiper-controls .btn-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.body-scroll-lock {
  overflow: hidden;

  @media (max-width: 768px) {
    overscroll-behavior: none;
    touch-action: none;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-paused:hover .spinning-icon {
  animation-play-state: paused;
}

.services-mobile-gradient {
  background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020 100%);
}

.benefits-shadow {
  box-shadow: 0px 4px 80px 3px rgba(255, 255, 255, 1) inset;
}

.gradient-border-form {
  border: 2px solid;
  border-radius: 10px; /* щоб відповідало твоєму класу rounded-base */
  border-image-source: linear-gradient(180deg, #a8a399 68%, #0b0707 100%);
  border-image-slice: 1;
  @media screen and (min-width: 1280px) {
    border-image-source: linear-gradient(180deg, #0b0707 0%, #ccc9c3 38.5%);
  }
}

.form-wrapper {
  position: relative;
  border-radius: 0.5rem; /* твій border-radius */
  overflow: hidden;
}

.form-wrapper::before {
  position: absolute;
  z-index: -1;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(180deg, #a8a399 68%, #0b0707 100%);
  padding: 2px;
  pointer-events: none;
  content: '';

  @media screen and (min-width: 1280px) {
    background: linear-gradient(180deg, #0b0707 0%, #ccc9c3 38.5%);
  }
}

.cross-icon {
  fill: var(--color-primary);
}

.send-btn:hover .cross-icon {
  fill: var(--color-accent);
}
